@{
    Layout = null;
}

@Html.Partial("~/Views/Shared/Dashboard/_DashboardHead.cshtml")

<body class="fix-header card-no-border fix-sidebar mini-sidebar">
    <div id="main-wrapper">
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardHeader.cshtml")
        @Html.Partial("~/Views/Shared/Dashboard/_AdminCpLeftBar.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Admin Control Panel</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin Cp</a></li>
                            <li class="breadcrumb-item">Gebruikers beheer</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- Dit gedeelte eronder moogde aanpassen -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Overzicht gebruikers</h4>
                                <div class="table-responsive">
                                    <table class="table color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Voornaam</th>
                                                <th>Achternaam</th>
                                                <th>Email</th>
                                                <th>Gevolgde items</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Sander</td>
                                                <td>Verschueren</td>
                                                <td>sander.verschueren@student.kdg.be</td>
                                                <td>
                                                    <ul>
                                                        <li>Bart De Wever</li>
                                                        <li>Ben Weyts</li>
                                                    </ul>
                                                </td>
                                                <td><button class="btn waves-effect waves-light btn-success">Edit</button></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Sander</td>
                                                <td>Verschueren</td>
                                                <td>sander.verschueren@student.kdg.be</td>
                                                <td>
                                                    <ul>
                                                        <li>Bart De Wever</li>
                                                    </ul>
                                                </td>
                                                <td><button class="btn waves-effect waves-light btn-success">Edit</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="/platform/DownloadReport" class="btn waves-effect waves-light btn-primary">Export</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            @Html.Partial("~/Views/Shared/Dashboard/_DashboardFooter.cshtml")
        </div>
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardScripts.cshtml")
    </div>
</body>







