@model IEnumerable<Domain.Account.Account>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@foreach (Domain.Account.Account o in Model)
{
    <br />
    <tr>
        <td>
            @Html.DisplayFor(i => o.AccountId)
        </td>
        <td>
            @Html.DisplayFor(i => o.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(i => o.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(i => o.Email)
        </td>
        <td>
            @Html.DisplayFor(i => o.GeboorteDatum)
        </td>
    </tr>
    @Html.ActionLink("Edit", "EditUser", new { id = o.IdentityId })
    @Html.ActionLink("Delete", "DeleteUser", new { id = o.IdentityId })
}
<p>
    @Html.ActionLink("Create New User", "CreateUser")
</p>
