
@model IEnumerable<Domain.Account.Alert>







@if (Model.Any())
{
    foreach (Domain.Account.Alert item in Model)
    {
     
        <a href="@Url.Action("ReadAlert", "Alert", new { id = item.AlertId })">
            <div class="btn btn-info btn-circle"><i class="fa fa-link"></i></div>
            <div class="mail-contnet">
                <b>@Html.DisplayFor(modelItem => item.AlertNaam)</b>:
                @Html.DisplayFor(modelItem => item.Entiteit.Naam)
                <i>
                    @Html.DisplayFor(modelItem => item.TrendType)
                    @Html.DisplayFor(modelItem => item.Voorwaarde)
                </i>

            </div>
        </a>
    }
}
else
{
    <p> Geen nieuwe notificaties </p>
}

