@model Domain.Entiteit.Persoon

@{
    ViewBag.Title = "DisplayPerson";
}

<h2>DisplayPerson</h2>

<div>
    <h4>Persoon</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>

            <img src="/Content/RetrieveImage/@Model.EntiteitId" alt="" height=100 width=200 />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntiteitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntiteitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisations)
        </dt>

        @Html.DisplayFor(m => m.Organisations, "Organisations")
    </dl>
    @Html.ActionLink("Back to List", "ChangePlatform", "Platform", new { id = Model.PlatformId }, null)


    <canvas id="c" width="700" height="300"></canvas>
   
    <!-- A link to the NodeBox JavaScript API  -->
    <script src="https://nodebox.live/api/v1/ndbx.js"></script>

    <!-- Your custom initialization code -->
    <script>
    // Again, replace these with your own userId / projectId / functionId / canvasId
    var options = {
        userId: 'Zeger',
        projectId: 'tutorial',
        functionId: 'count_tweets',
        canvasId: 'c',
        autoplay: true
    };

    // Initialize the NodeBox player object
    ndbx.embed(options, function (err, player) {
        if (err) {
            throw new Error(err);
        } else {
            window.player = player;
            player.setValue('import1', 'file', 'DataTextGain.json')
           // player.setValue('soortTrend', 'text', '@Model')
        }
    });
    </script>

</div>

