@model WebUI.Models.EditPersonViewModel
@{
    Layout = null;
}

@Html.Partial("~/Views/Shared/Dashboard/_DashboardHead.cshtml")

<body class="fix-header card-no-border fix-sidebar mini-sidebar">
    <div id="main-wrapper">
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardHeader.cshtml")
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardLeftBar.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Starter kit</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item">pages</li>
                            <li class="breadcrumb-item active">Home</li>

                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- Dit gedeelte eronder moogde aanpassen -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-body">
                            <h3 class="box-title m-b-0"><span class="lstick"></span>Persoon aanmaken</h3>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    @using (Html.BeginForm("EditPerson", "Entiteit", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="hidden" value="@Model.Persoon.EntiteitId" name="EntiteitId" />
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="FirstName" name="Naam" value="@Model.Persoon.Naam">
                                        </div>
                                        <label>Afbeelding</label>
                                        <div class="form-group">
                                            <input type="file" name="uploadFile" , class="btn waves-effect waves-light btn-secondary" />
                                        </div>
                                        <div class="form-group">
                                            <h5 class="box-title">Soort Grafiek:</h5>
                                            <select class="selectpicker" name="Organisation" data-style="form-control btn-secondary">
                                                <option value="@Model.Organisaties.First()">--Selecteer organisatie--</option>
                                                @foreach (var o in Model.Organisaties)
                                                {
                                                    <option value="@o.EntiteitId">@o.Naam</option>
                                                }
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
        </div>
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardFooter.cshtml")
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardScripts.cshtml")
    </div>
</body>







