@model IEnumerable<Domain.Entiteit.Thema>
@{
    ViewBag.Title = "IndexThema";
}

<h2>IndexThema</h2>

<p>
    @Html.ActionLink("Create New", "CreateThema")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntiteitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntiteitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditThema", new { id = item.EntiteitId }) |
                @Html.ActionLink("Delete", "DeleteThema", new { id = item.EntiteitId })
                @Html.ActionLink("Follow", "FollowEntiteit", "Account", new { id = item.EntiteitId }, null)

            </td>
        </tr>
    }
</table>