@model WebUI.Models.AlertViewModel

@{
    ViewBag.Title = "AddAlert";
}


@using (Html.BeginForm("AddAlert", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{




    @Html.AntiForgeryToken()
    <hr />




    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-text"></i></div>

                @Html.TextBoxFor(m => m.Alert.AlertNaam, new { @class = "form-control", placeholder = "Alertnaam" })

            </div>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-stats-up"></i></div>

                @Html.EnumDropDownListFor(m => m.Alert.TrendType, new { @id = "trendtype", @class = "form-control", placeholder = "trendtype" })
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-search"></i></div>

                @Html.EnumDropDownListFor(m => m.Alert.Voorwaarde, new { @id = "voorwaarde", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-infinite"></i></div>

                @Html.TextBoxFor(m => m.Alert.MinWaarde, new { @class = "form-control", placeholder="Minimumwaarde" })

            </div>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>

                @Html.DropDownList("type", new SelectList(ViewBag.Namen), new { @class = "select2 form-control custom-select" })

            </div>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-target"></i></div>


                <input id="ANDROID" name="ANDROID" value="true" type="checkbox">
                <label for="ANDROID"> Android  </label>

                <input id="WEB" name="WEB" value="true" type="checkbox" checked>
                <label for="WEB"> Web  </label>


                <input id="MAIL" name="MAIL" value="true" type="checkbox">
                <label for="MAIL"> Mail </label>
            </div>
        </div>
    </div>







    <div class="form-group row">
        <div class="col-sm-9">
            <input type="submit" value="Alert toevoegen" class="btn btn-default" />
        </div>
    </div>




}
