@model WebUI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Beheer je account</h4>
    <h3></h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Wachtwoord wijzigen", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </dd>
        <dt>Gegevens wijzigen</dt>
        <dd>
            @Html.ActionLink("Email adres wijzigen", "ManageAccount")
        </dd>

    </dl>
</div>
