@model WebUI.Models.DashboardModel

@{
    Layout = null;
}

@Html.Partial("~/Views/Shared/Dashboard/_DashboardHead.cshtml")

<body class="fix-header card-no-border fix-sidebar mini-sidebar">
    <div id="main-wrapper">
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardHeader.cshtml")
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardLeftBar.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Update Alerts</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item">Alerts Updaten</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- Dit gedeelte eronder moogde aanpassen -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Entiteiten platform</h4>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Naam</th>
                                                <th>Type</th>
                                                <th>Actie</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var e in Model.AlleEntiteiten)
                                            {
                                                <tr>
                                                    <td>
                                                        @e.EntiteitId
                                                    </td>
                                                    <td>
                                                        @e.Naam
                                                    </td>
                                                    <td>
                                                        @e.GetType().Name
                                                    </td>
                                                    <td>
                                                        <a href="/Account/FollowEntiteit?id=@e.EntiteitId" class="btn waves-effect waves-light btn-success">Follow</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title"><span class="lstick"></span>Jou gevolgde items</h4>
                                    </div>
                                </div>
                                <div class="table-responsive m-t-20">
                                    <table class="table vm no-th-brd no-wrap pro-of-month">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Actie</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model.GevolgdeItems)
                                            {
                                                <tr>
                                                    <td>
                                                        @i.EntiteitId
                                                    </td>
                                                    <td>
                                                        <a href="/Account/UnfollowEntiteit?id=@i.EntiteitId" class="btn waves-effect waves-light btn-success">Unfollow</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            @Html.Partial("~/Views/Shared/Dashboard/_DashboardFooter.cshtml")
        </div>
        @Html.Partial("~/Views/Shared/Dashboard/_DashboardScripts.cshtml")
    </div>
</body>




