@model Domain.Account.Alert

@{
    /**/

    ViewBag.Title = "AddAlert";
}

  
<h2>Alert toevoegen</h2>

@using (Html.BeginForm("AddAlert", "Alert", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{



    @Html.AntiForgeryToken()
    <h4>Alert toevoegen</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.AlertNaam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AlertNaam, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TrendType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.TrendType, new { @id = "trendtype", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Voorwaarde, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Voorwaarde, new { @id = "voorwaarde", @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MinWaarde, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MinWaarde, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.Label("kies", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("types", new SelectList(ViewBag.Namen), new { @class = "form-control" })



        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlatformType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBox("android")
            @Html.Label("Android ")
            @Html.CheckBox("web", true)
            @Html.Label("Web ")
            @Html.CheckBox("mail")
            @Html.Label("Mail ")




        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alert toevoegen" class="btn btn-default" />
        </div>
    </div>

}
