@model WebUI.Models.ChangePlatformViewModel

@{
    ViewBag.Title = "ChangePlatform";
}

<h2>ChangePlatform</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Deelplatform</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.requestedDeelplatform.DeelplatformId)

    <div class="form-group">
        @Html.LabelFor(model => model.requestedDeelplatform.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.requestedDeelplatform.Naam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.requestedDeelplatform.Naam, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.requestedDeelplatform.Tagline, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.requestedDeelplatform.Tagline, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.requestedDeelplatform.Tagline, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div class="form-horizontal">
    <h3>PERSONEN</h3>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Naam
            </th>
            <th>
                Gemeente
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.personen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntiteitId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.ActionLink("Display", "DisplayPerson", "Entiteit", new { EntityId = item.EntiteitId }, null)
                    @Html.ActionLink("Update", "UpdatePerson", "Entiteit", new { EntityId = item.EntiteitId }, null))
                    @Html.ActionLink("Delete", "DeletePerson", "Entiteit", new { EntityId = item.EntiteitId }, null))
                </td>
            </tr>
        }
    </table>

    <h3>ORGANISATIES</h3>
    <table class="table">
        <tr>
            <th>
                Naam
            </th>
            <th>
                Gemeente
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.organisaties)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Gemeente)
                </td>

                <td>
                    @Html.ActionLink("Display", "DisplayOrganisation", "Entiteit", new { EntityId = item.EntiteitId }, null)
                    @Html.ActionLink("Update", "UpdateOrganisation", "Entiteit", new { EntityId = item.EntiteitId }, null)
                    @Html.ActionLink("Delete", "DeleteOrganisation", "Entiteit", new { EntityId = item.EntiteitId }, null)
                </td>
            </tr>

        }
    </table>
    <h3>THEMAS</h3>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Naam
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.themas)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntiteitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditThema", "Entiteit", new { id = item.EntiteitId }, null)
                    @Html.ActionLink("Delete", "DeleteThema", "Entiteit", new { id = item.EntiteitId }, null)
                </td>
            </tr>

        }
    </table>
</div>


@Html.ActionLink("Maak nieuw Persoon", "AddPerson", "Entiteit", new { platformId = Model.requestedDeelplatform.DeelplatformId }, null)
@Html.ActionLink("Maak nieuw Organisatie", "AddOrganisation", "Entiteit", new { platformId = Model.requestedDeelplatform.DeelplatformId }, null)
@Html.ActionLink("Maak nieuw Thema", "CreateThema", "Entiteit", new { platid = Model.requestedDeelplatform.DeelplatformId }, null)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
