@model WebUI.Models.ChangePlatformViewModel

@{
    ViewBag.Title = "DisplayPlatform";
}

<h2>DisplayPlatform</h2>

<div>
    <h4>ChangePlatformViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

        

        @Html.DisplayNameFor(m => m.RequestedDeelplatform)
    <table>
        @Html.DisplayFor(m => m.RequestedDeelplatform.Naam)
    </table>
        @Html.DisplayNameFor(m => m.Personen)
    <table>
        @Html.DisplayFor(m => m.Personen, "People")
    </table>
        @Html.DisplayNameFor(m => m.Organisaties)
    <table>
        @Html.DisplayFor(m => m.Organisaties, "Organisations")
    </table>
        @Html.DisplayNameFor(m => m.Themas)
    <table>
        @Html.DisplayFor(m => m.Themas, "Themas")
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
